<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ article.subtitle }}">
        <meta name="robots" content="nositelinkssearchbox, nosnippet">
        <title>{{ title }} | {{ article.title }}</title>
        <link rel="stylesheet" href="{{ base_path }}resources/stylesheet.css">
        <link rel="canonical" href="{{ base_path }}{{ section.slug }}/{{ article.slug }}.html">

        <link rel="icon" href="/resources/favicon.ico" sizes="32x32">
        <link rel="apple-touch-icon" href="/resources/apple-touch-icon.png">
        <link rel="manifest" href="/resources/webmanifest.json">

        <meta property="og:url" content="https://{{ site }}/{{ section.slug }}/{{ article.slug }}.html">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }} | {{ article.title }}">
        <meta property="og:description" content="{{ article.subtitle }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="{{ site }}">
        <meta property="twitter:url" content="https://{{ site }}/{{ section.slug }}/{{ article.slug }}.html">
        <meta name="twitter:title" content="{{ title }} | {{ article.title }}">
        <meta name="twitter:description" content="{{ article.subtitle }}">

        {% if preview_image %}
        <meta property="og:image" content="{{ preview_image }}">
        <meta name="twitter:image" content="{{ preview_image }}">
        {% endif %}

        <meta property="article:published_time" content="{{ article.publish_date }}">
        {% if article.update_date %}<meta property="article:modified_time" content="{{ article.update_date }}">{% endif %}
        <meta property="article:section" content="{{ section.title }}">
        {% if article.tags %}{% for tag in article.tags %}
        <meta property="article:tag" content="">
        {% endfor %}{% endif %}
    </head>
    <body>
        <header>
            <h1 class="site-title">{{ title }}</h1>
            {{ header }}
        </header>
        {% if nav %}
        <nav>
            <ul>
                <li><a href="{{ base_path }}index.html" class="nav-item">Home</a></li>
                |
                {% for item in nav %}
                <li><a href="{{ item.href }}" class="nav-item">{{ item.text }}</a></li>
                {% if not loop.last and loop.length > 1 %}
                |
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
        {% if sidebar %}
        <aside>
            {{ sidebar }}
        </aside>
        {% endif %}
        <main>
            <section>
                <h1 class="section-title">{{ section.title }}</h1>
                <article>
                    <h3 class="article-title">{{ article.title }}</h3>
                    {% if article.subtitle %}
                    <h5 class="article-subtitle">{{ article.subtitle }}</h5>
                    {% endif %}
                    <cite>By {{ article.author }} at {{ article.publish_date }}{% if article.update_date %}, updated at {{ article.update_date }}{% endif %}</cite>
                    <cite class="reading-estimate" title="Estimated reading time"><span class="reading-estimate-icon">{{ article.metadata.reading_time_icon }}</span> <span class="reading-estimate-time">{{ article.metadata.reading_time_avg }}</span"></cite>
                    <div class="article-body">
                        {{ article.body }}
                    </div>
                    {% if article.tags %}
                    Tags: 
                    <span class="article-tags">
                        {% for tag in article.tags %}
                        <a href="{{ base_path }}{{ section.slug }}/by_tag/{{ tag }}.html" class="article-tag">{{ tag }}</a> 
                        {% if not loop.last and loop.length > 1 %}
                        |
                        {% endif %}
                        {% endfor %}
                    </span>
                    {% endif %}
                </article>
            </section>
        </main>
        <footer>
        {% if footer %}
            {{ footer }}
        {% endif %}
        <cite>Generated by <a href="https://bitbucket.org/c0nch0b4r/wambenger" class="external-link">wambenger v{{ wam_version }}</a> at {{ gen_datetime }}.</cite>
        </footer>
    </body>
</html>
