<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>{{ title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ subtitle }}">
        <meta name="robots" content="nositelinkssearchbox, nosnippet">
        <link rel="stylesheet" href="{{ base_path }}resources/stylesheet.css">

        <link rel="icon" href="/resources/favicon.ico" sizes="32x32">
        <link rel="apple-touch-icon" href="/resources/apple-touch-icon.png">
        <link rel="manifest" href="/resources/webmanifest.json">

        <meta property="og:url" content="https://{{ site }}/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ subtitle }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="{{ site }}">
        <meta property="twitter:url" content="https://{{ site }}/">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ subtitle }}">

        {% if preview_image %}
        <meta property="og:image" content="{{ preview_image }}">
        <meta name="twitter:image" content="{{ preview_image }}">
        {% endif %}
    </head>
    <body>
        <header>
            <h1 class="site-title">{{ title }}</h1>
            {{ header }}
        </header>
        {% if nav %}
        <nav>
            <ul>
                <li><a href="{{ base_path }}index.html" class="nav-item">Home</a></li> | {% for item in nav %}
                <li><a href="{{ item.href }}" class="nav-item">{{ item.text }}</a></li>{% if not loop.last and loop.length > 1 %} | {% endif %}{% endfor %}
            </ul>
        </nav>
        {% endif %}
        {% if sidebar %}
        <aside>
            {{ sidebar }}
        </aside>
        {% endif %}
        <main>
            {% for section in sections if not section.hidden %}
            <section>
                <h1 class="section-title">{{ section.title }}</h1>
                {% for article in section.articles_sorted if not article.hidden %}
                {% if article.body|length > 3000 %}
                <article class="article-trimmed">
                {% else %}
                <article>
                {% endif %}
                    <h3 class="article-title"><a href="{{ base_path }}{{ section.slug }}/{{ article.slug }}.html" class="article-title-link">{{ article.title }}</a></h3>
                    {% if article.subtitle %}
                    <h5 class="article-subtitle">{{ article.subtitle }}</h5>
                    {% endif %}
                    <cite>By {{ article.author }} at {{ article.publish_date }}{% if article.update_date %}, updated at {{ article.update_date }}{% endif %}</cite>
                    <cite class="reading-estimate" title="Estimated reading time"><span class="reading-estimate-icon">{{ article.metadata.reading_time_icon }}</span> <span class="reading-estimate-time">{{ article.metadata.reading_time_avg }}</span"></cite>
                    <div class="article-body">
                        {{ article.body }}
                    </div>
                    {% if article.body|length > 3000 %}
                    <div class="trimmed-link"><a href="{{ base_path }}{{ section.slug }}/{{ article.slug }}.html">Continue Reading</a></div>
                    {% endif %}
                    {% if article.tags %}
                    Tags: 
                    <span class="article-tags">
                        {% for tag in article.tags %}
                        <a href="{{ base_path }}{{ section.slug }}/by_tag/{{ tag }}.html" class="article-tag">{{ tag }}</a> 
                        {% if not loop.last and loop.length > 1 %}
                        |
                        {% endif %}
                        {% endfor %}
                    </span>
                    {% endif %}
                    {% if not loop.last %}
                    <br>
                    <hr>
                    {% endif %}
                </article>
                {% endfor %}
            </section>
            {% endfor %}
        </main>
        <footer>
        {% if footer %}
            {{ footer }}
        {% endif %}
        <cite>Generated by <a href="https://bitbucket.org/c0nch0b4r/wambenger" class="external-link">wambenger v{{ wam_version }}</a> at {{ gen_datetime }}.</cite>
        </footer>
    </body>
</html>
